{% extends 'base.html' %} {% block content %}

<h2>Events</h2>

<table class="table">
    <tr>
        <!-- headers for each column -->
        <th>Title</th>
        <th>Date</th>

    </tr>

    <!-- meeting_list refers to meeting_list in getGeetings method in views.py -->
    {% for e in event_list %}
    <!-- for loop for each column desired on the page -->
    <tr>
        <td><a href="{% url 'event_info' id=e.id %}">{{e.event_title}}</td>
        <td>{{e.event_date}}</td>

    </tr>
    {% endfor %}
</table>


{% endblock %}