{% extends 'base.html' %} {% block content %}

<h2>Meetings</h2>

<table class="table">
    <tr>
        <!-- headers for each column -->
        <th>Title</th>
        <th>Date</th>

    </tr>

    <!-- meeting_list refers to meeting_list in getGeetings method in views.py -->
    {% for item in meetings_list %}
    <!-- for loop for each column desired on the page -->
    <tr>
        <td><a href="{% url 'details' id=item.id %}">{{item.meeting_title}}</td>
        <td>{{item.meeting_date}}</td>

    </tr>
    {% endfor %}
</table>


{% endblock %}